on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./

      - run: |
          date > dummy.txt
          git add dummy.txt
          git commit -m "chore: update dummy"
          # git push
          
      - name: Commit User
        run: |
          echo "user.name:  $(git log -1 --pretty=format:'%an')"
          echo "user.email: $(git log -1 --pretty=format:'%ae')"
      - name: Config User
        run: |     
          echo "user.name:  $(git config user.name)"
          echo "user.email: $(git config user.email)"
  actor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./
        with:
          user: actor

      - run: |
          date > dummy.txt
          git add dummy.txt
          git commit -m "chore: update dummy"
          # git push
          
      - name: Commit User
        run: |
          echo "user.name:  $(git log -1 --pretty=format:'%an')"
          echo "user.email: $(git log -1 --pretty=format:'%ae')"
      - name: Config User
        run: |     
          echo "user.name:  $(git config user.name)"
          echo "user.email: $(git config user.email)"
  commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./
        with:
          user: commit
          
      - run: |
          date > dummy.txt
          git add dummy.txt
          git commit -m "chore: update dummy"
          # git push
          
      - name: Commit User
        run: |
          echo "user.name:  $(git log -1 --pretty=format:'%an')"
          echo "user.email: $(git log -1 --pretty=format:'%ae')"
      - name: Config User
        run: |     
          echo "user.name:  $(git config user.name)"
          echo "user.email: $(git config user.email)"
      
